*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    margin: 5% 0 10% 0;
    min-height: 1000px;
    
}
 #payicon {

font-size: 30px;
 }
 .carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
#message-container{
display: flex;
flex-direction: row;
justify-content: space-between;

}

#home-description{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .error {
    color: #ff0000;
  }
  form #helpID {
    color: #ff0000;
  }